
// Variables
$bg-color: #EEE;
$bg-secondry-color: #FFF;
$main-color: #03a9f4;
$font: 16px;
$padding: 15px;

// Globals
*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
}
ul {
    list-style: none;
    padding: 0;
}
.overlay {
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-color: rgba(black, .8);
    position: absolute;
    z-index: 5;
}

// Helpers 
/* Add Background and Padding for the item*/
@mixin padding-background($back-ground, $p: $padding) {
    background-color: $back-ground;
    padding: $p;
}
@mixin media($media){
    @if $media == mobile{
        @media(max-width: 767px){
            @content;
        }
    }
    // 
    @else {
        @media (min-width: 768px){
            @content;
        }
    }
}

@mixin keyF($animation) {
    @keyframes fade {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}
// ===================================
// Start Heading 
h1 {
    text-align : center;
}
// Start box-container
.box-container {
    margin: 50px auto;
    @include media(mobile) {
        width: 95%;
    }
    @include media(large) {
        width: 600px;
    }
    display: flex;
    flex-direction: column;
    background-color: $bg-color;
    padding: $padding;
    .heading {
        @include padding-background($bg-secondry-color);
        display: flex;
        justify-content: space-between;
    }

    .content-container {

    }
    .content {
        @include padding-background($bg-secondry-color);
        margin: {
            top: $padding;
            bottom: $padding;
        }
        position: relative;
        span.number {
            position: absolute;
            top: 5px;
            right: 5px;
            color: #FFF;
            padding: 4px 10px;
            background-color: $main-color;
        }
        .ques-name {
            @include media(mobile){
                font-size: 25px;
            }
        }
        .options {
            @include padding-background($bg-color, 0);
            margin-top: $padding;
            li {
                padding-left: $padding;
                transition: .3s;
                display: flex;
                &.active, &:hover  {
                    color: $main-color;
                    font-weight: bold;
                }
                &:not(:last-child){
                    border-bottom: 1px solid #CCC;
                }
            }
            label {
                padding: $padding $padding $padding 0;
                margin-left: 5px;
                display: block;
                width: 100%;
                cursor: pointer;
            }
        }
    }
    
    button {
        @include padding-background($main-color, 8px);
        border: none;
        cursor: pointer;
        color : #FFF;
        margin-bottom: $padding;
        border-radius: 5px;
        &.disabled{
            background-color: mix($bg-color, rgb(54, 51, 51));
        }
    }

    .controles {
        @include padding-background($bg-secondry-color);
        display: flex;
        justify-content: space-between;
        ul {
            display: flex;
            li {
                width: 18px;
                height: 18px;
                border-radius: 50%;
                cursor: pointer;
                margin-right: 5px;
                background-color: mix($bg-color, rgb(54, 51, 51));
                &.active {
                    background-color: $main-color;
                }
            }
        }
    }
}

// Sart Footer
footer {
    text-align: center;
    padding-bottom: $padding;
    span {
        font-weight: bold;
        color: $main-color
    }
}


.pop-up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background-color: #FFF;
    width: 90%;
    @include media(large){
        width: 500px;
    }
    padding: 50px;
    height: 200px;
    z-index: 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 8px 9px 9px #383838, -5px -4px 10px #524c4c;
    .message {
        font-size: 20px;
        line-height: 1.9;
    } 
    .message {
        .from, .perc {
            color: #080;
        }
        .to {
            color: $main-color;
        }
    }
    .opt {
        margin-top: 20px;
        span {
            padding: 5px $padding;
            margin-right: $padding;
            color: #FFF;
            width: 150px;
            border-radius: 5px;
            cursor: pointer;
        }
        .show-answer {
            background-color: #080;
        }
        .try-again {
            background-color: #f00;
        }
    }

    
}

.pop {
    // opacity: 0;
   
    // // @include keyF(fade);
    // animation-timing-function: ease-in-out;
    // animation-duration: .8s;
}
.overlay, .pop-up {
    display: none;
}